html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 206, 206);
}


main {
    display: flex;
    width: 85%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


input[type="email"],  input[type="password"], input[type = "text"]{
    font-size: 14px;
    width: 400px;
    height: 30px;
    border: 0;

    background: rgba(255, 255, 255, 0.468);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    color: black;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 4px;
}

input[type="checkbox"] {
    padding: 0;
    margin: 0;
}

input[type="submit"] {
    height: 35px;
    width: 200px;

    margin-top: 20px;

    border: 0;
    border-radius: 4px;

    background-color: #6c33a3;
    background-image: linear-gradient(316deg, #6c33a3 0%, #8241b8 74%);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    color: white;
    cursor: pointer;
}



img {
    width: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    gap: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.showPass {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: auto;
}

.showPass p {
    font-size: 14px;
    text-align: left;
}

.social {
    margin-top: auto;
    margin-bottom: 20px;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(176, 176, 176);
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 
    gap: 40px;
}

.img {
    width: 50%;
    height: 100%;
    background-image: url("../resources/BackgroundIndex.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.msgErro {
    position: absolute;
    background-color: rgb(176, 41, 41);
    width: 300px;
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 0;
}

@media (max-width: 480px) {
    body{
        background-color: #452068;
    }

    input[type="email"],  input[type="password"], input[type = "text"]{
        width: 250px;
    }

    main {
        flex-direction: column-reverse;
    }

    .formulario {
        width: 100%;
        border-radius: 8px;
    }
    
    .img {
        display: none;
    }

    .social {
        margin-top: auto;
        margin-bottom: 5px;
    }
}

@media (min-width: 480px) {

    input[type="email"],  input[type="password"], input[type = "text"]{
        width: 250px;
    }

    main {
        flex-direction: column-reverse;
    }

    .formulario {
        width: 100%;
        border-radius: 8px;
    }
    
    .img {
        display: none;
    }

    .social {
        margin-top: auto;
        margin-bottom: 5px;
    }
}


@media (min-width: 768px) {

    input[type="email"],  input[type="password"], input[type = "text"]{
        width: 350px;
    }

    main {
        flex-direction: column-reverse;
    }

    .formulario {
        width: 100%;
        border-radius: 0;
        border-bottom-right-radius: 8px; 
        border-bottom-left-radius: 8px; 
    }
    
    .img {
        display: flex;
        width: 100%;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-position: bottom;
    }

}


@media (min-width: 1024px) { 

    input[type="email"],  input[type="password"], input[type = "text"]{
        width: 350px;
    }

    main {
        flex-direction: row;
    }
    
    .formulario {
        width: 50%;
        border-radius: 0;
        border-top-left-radius: 8px; 
        border-bottom-left-radius: 8px; 
    }
    
    .img {
        display: flex;
        width: 50%;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@media (min-width: 1280px) { 

    h1 {
        font-size: 50px;
    }

    input[type="email"],  input[type="password"], input[type = "text"]{
        width: 500px;
        
    }

    main {
        flex-direction: row;
    }

    .formulario {
        width: 50%;
        border-radius: 0;
        border-top-left-radius: 8px; 
        border-bottom-left-radius: 8px; 
    }
    
    .img {
        display: flex;
        width: 50%;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
}